#!/usr/bin/make -f

%:
	dh $@ --parallel

override_dh_auto_install:
	PREFIX=debian/tmp dh_auto_install

override_dh_auto_test:
	# Do not make test

override_dh_auto_clean:
	# Do not make clean

# NOTE MODIFIED ADD
override_dh_shlibdeps:
    dpkg-shlibdeps -e debian/libnccl2/usr/lib/x86_64-linux-gnu/libnccl.so.2.21.5 -x /usr/local/cuda/targets/x86_64-linux/lib/libcudart.so.12 -Tdebian/libnccl2.substvars
